<form>
  <h1>New book </h1>
  <div class="form-group">
    <label for="title">Book Title</label>
    <input id="title" type="text" placeholder="Book title" class="form-control" />
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    <input id="author" type="text" placeholder="Author" class="form-control" />
  </div>
  <div class="form-group">
    <label for="year">Year of publish</label>
    <input id="year" type="number" placeholder="Year of publish" class="form-control" max="2019"/>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
  </div>
</form>
