<form #f="ngForm">
  <h1>New book </h1>

  <div class="form-group">
    <label for="title">Book Title</label>
    <input ngModel name="title" #title="ngModel" required id="title" type="text" placeholder="Book title" class="form-control" />
    <div class="alert alert-danger" *ngIf="title.touched && !title.valid">
      <div *ngIf="title.errors.required">
        Title is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="authorName">Author</label>
    <input ngModel name="authorName" #authorName="ngModel" required id="authorName" type="text" placeholder="Author" class="form-control" />
    <div class="alert alert-danger" *ngIf="authorName.touched && !authorName.valid">
      <div *ngIf="authorName.errors.required">
        authorName name is required
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="year">Year of publish</label>
    <input ngModel name="year" #year="ngModel" required maxlength="4" id="year" type="number" placeholder="Year of publish" class="form-control" max="2019"/>
    <div class="alert alert-danger" *ngIf="year.touched && !year.valid">
      <div *ngIf="year.errors.required">
        Year is required
      </div>
    </div>
  </div>

  <p>
    {{ f.value | json }}
  </p>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-2" [disabled]="!f.valid" (click)="onSubmit()">Submit</button>
  </div>
</form>
