<div class="wrapper" style="width: 75%; padding-left: 25%;">
    <div class="wrapped-div" style=" padding: 20px;">
        <div class="tab-header">
            <h1>Admin panel</h1>
            <h2 routerLink='/admin/add-librarian' routerLinkActive='active' >Add librarian</h2>
            <h2>Librarians</h2>
            <h2>Customers</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>